.classpath
.project
.settings/
.vertx/
target/
nbproject/

core/.classpath
core/.project
core/.settings/
core/.vertx/
core/target/
core/nbproject/

example/.classpath
example/.project
example/.settings/
example/.vertx/
example/target/
example/nbproject/